/* Fonts ================================================================================== */

/* Fjalla One */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* OSWALD */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap');

/* Font Styles ================================================================================= */

.title {
    font-family: 'Fjalla One';
    font-size: 2.25rem;
    color: #09080e;
}

.sub {
    font-family: 'Oswald';
    font-size: 1.5rem;
    color: #21232e;
    font-weight: 400;
}

.p {
    font-family: 'Oswald';
    font-size: 1.25rem;
    color: #21232e;
    font-weight: 300;
}

.text {
    font-family: 'Oswald';
    font-size: 1.25rem;
    color: #21232e;
    font-weight: 300;
}

.error {
    font-family: 'Oswald';
    font-size: 3.688;
    color: #ff0022;
    font-weight: 300;
}

.btn {
    font-family: 'Oswald';
    font-size: 1.25rem;
    color: #21232e;
    font-weight: 400;
}

/* Colors ================================================================================= */

$theme-colors: (
    'black': #2b304d,
    'black2': #3f4365,
    'black3': #636b97,
    'white': #f5f5f5,
    'red': #f5707d,
    'red2': #bd6981,
    'red3': #6e5675,
    'error': #ff0019,
);

@each $name, $valor in $theme-colors {
    .color-#{$name} {
        color: #{$valor};
    }
}
