/* Fonts ================================================================================== */

/* Fjalla One */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* OSWALD */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap');

/* Font Stles ================================================================================= */

.title{

  font-family: 'Fjalla One';
  font-size: 36px;
  color: #09080E;

}

.sub{

  font-family: 'Oswald';
  font-size: 24px;
  color: #21232E;
  font-weight: 400;

}

.p{

  font-family: 'Oswald';
  font-size: 20px;
  color: #21232E;
  font-weight: 300;

}

.text{

  font-family: 'Oswald';
  font-size: 20px;
  color: #21232E;
  font-weight: 300;

}

